<router-outlet></router-outlet>

<section class="section">
    <div class="content">
        <h1 class="jumbo">Sork Design</h1>
    </div>
</section>

<section class="section">
    <div class="box">
        <div class="content">
            <h1 class="title">Code</h1>
            <code>JavaScript {{ "{ test: 'hello' }" }}</code>
        </div>
    </div>

    <div class="box">
        <div class="content">
            <h1 class="title">Buttons</h1>
            <div class="controls">
                <button class="button primary">Hello World!</button>
                <button class="button short primary">Short</button>
                <button class="plus"></button>
                <button class="minus"></button>
                <button class="close"></button>
            </div>
            <div class="controls">
                <button class="button accent">Hello World!</button>
                <button class="button short dark">Short</button>
                <button class="plus dark"></button>
                <button class="minus dark"></button>
                <button class="close dark"></button>
            </div>
            <div class="controls">
                <button class="button small primary">Hello World!</button>
                <button class="button short small primary">Short</button>
                <button class="plus small"></button>
                <button class="minus small"></button>
                <button class="close small"></button>
            </div>
            <div class="controls">
                <button class="button small accent">Hello World!</button>
                <button class="button short small dark">Short</button>
                <button class="plus small dark"></button>
                <button class="minus small dark"></button>
                <button class="close small dark"></button>
            </div>
            <div class="controls">
                <button disabled class="button accent">Hello World!</button>
                <button disabled class="button short dark">Short</button>
                <button disabled class="plus dark"></button>
                <button disabled class="minus dark"></button>
                <button disabled class="close dark"></button>
            </div>
            <div class="controls detached">
                <button class="button accent">Hello World!</button>
                <button class="button short dark">Short</button>
                <button class="plus dark"></button>
                <button class="minus dark"></button>
                <button class="close dark"></button>
            </div>
        </div>
    </div>
    
    <div class="box">
        <div class="content">
            <h1 class="title">Modals</h1>

            <div [class.active]="modal" class="modal">
                <div (click)="modal = false" class="overlay"></div>
                <div class="window">
                    <div class="header">
                        <p>Modal Header</p>
                        <button (click)="modal = false" class="close"></button>
                    </div>
                    <div class="content">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In et dapibus magna. Donec bibendum massa libero. In id nibh pellentesque, gravida risus in, tempor tortor. Aenean suscipit condimentum nulla, eget pretium lorem imperdiet ullamcorper. Cras consequat suscipit metus, quis maximus nisl blandit nec. In scelerisque cursus feugiat. Donec vulputate porta nulla rutrum blandit. Vivamus faucibus sagittis mauris vitae rutrum. Pellentesque lacinia massa vel erat mollis blandit.
                        </p>
                    </div>
                    <div class="footer">
                        <button (click)="modal = false" class="button black">Cancel</button>
                        <button class="button primary">Primary</button>
                    </div>
                </div>
            </div>

            <div class="controls">
                <button (click)="modal = !modal" class="button primary">Open Modal</button>
            </div>
        </div>
    </div>
    
    <div class="box">
        <div class="content">
            <h1 class="title">Table</h1>

            <div class="controls table-controls">
                <input type="text" class="input" placeholder="Input">
                <button class="button primary">Hello World!</button>
                <button class="button short primary">Short</button>
                <button class="plus"></button>
                <button class="minus"></button>
            </div>
            <table class="table fullwidth hoverable sortable">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Rating</th>
                        <th>Title</th>
                        <th>Reviews</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let movie of movies">
                        <td>{{ movie.rank }}</td>
                        <td>{{ movie.rating }}</td>
                        <td>{{ movie.title }}</td>
                        <td>{{ movie.reviews }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="box">
        <div class="content">
            <h1 class="title">Forms</h1>

            <form [formGroup]="form" class="form">
                <div class="field">
                    <label for="name">Name</label>
                    <input formControlName="name" type="text" class="input" id="name" required>
                </div>
                <div class="field">
                    <label for="email">E-mail</label>
                    <input formControlName="email" type="text" class="input" id="email" required>
                </div>
                <div class="field">
                    <label for="country">Country</label>
                    <input formControlName="country" type="text" class="input" id="country">
                </div>
                <div class="field">
                    <button class="button primary">Send</button>
                </div>
            </form>
        </div>
    </div>
</section>
