html
    &.round-style
        .box
            border-radius: $round
    &.light, &:not(.dark)
        background-color: $white
        color: $black
        .box
            background-color: $white-97
    &.dark
        background-color: $grey-10
        color: $white
        .box
            background-color: $grey-13

.section
    padding-left: $section-padding
    padding-right: $section-padding
    padding-top: $section-padding

:last-child.section
    padding-bottom: $section-padding

.box
    &:not(:last-child)
        margin-bottom: $box-margin

.fullwidth
    &:not(.i)
        width: 100%
    &.i
        widh: 100% !important

.title
    margin-bottom: $title-margin
    &:not(:first-child)
        margin-top: $title-margin
.subtitle
    margin-bottom: $subtitle-margin

.content
    padding: $content-padding

.controls
    &:not(.table-controls)
        margin-top: $actions-margin
    &.table-controls
        margin: 0
        justify-content: flex-end
        .input
            flex-grow: 1
    display: flex
    &.detached
        :not(:last-child)
            margin-right: $control-margin
